@import "../../helpers/helpers";

.product {
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  cursor: pointer;
  transition: all 500ms ease;

  @include breakpoint-down(medium) {
    padding-left: 0;
    padding-right: 0;
  }

  &:hover {
    // transform: scale(1.01);
    -webkit-box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
  }

  &__img {
    margin-bottom: 1rem;

    img {
      width: 100%;
      display: block;
    }
  }

  &__category {
    color: #2264d1;
    text-transform: capitalize;
    display: inline-block;
    background-color: rgba($color: #2264d1, $alpha: 0.2);
    font-weight: 500;
    padding: 0.3rem 1rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
  }

  &__title {
    font-weight: 400;
    opacity: 0.9;
    cursor: pointer;
    transition: color 300ms ease;

    &:hover {
      color: #2264d1;
    }
  }

  .stars {
    display: flex;
    > * + * {
      margin-left: 0.1rem;
    }
  }

  &__price {
    margin: 0.5rem 0;
    font-size: 1.4rem;
    color: #242424;
    font-weight: bold;
  }
}
